<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>switchbot-logger</title>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
  </head>
  <body>
    <h1>switchbot-logger</h1>
    <ul>
      <li><a href="/both.html">both</a></li>
      <li><a href="/temperatures.html">Temperatures</a></li>
      <li><a href="/humidities.html">Humidities</a></li>
    </ul>
  </body>
</html>